.Hangman {
  width: 80%;
  margin-top: 2%;
}
.image{
  max-width: 35%;
  /* max-height: 100%; */
}
.head{
  font-size: 300%;
  color: red;
  font-weight: bolder;
}
.guess{
  font-size: 170%;
  font-weight: bold;
  color: darkgreen;
}
.data{
  font-size: 200%;
  font-weight: bold;
  color: red;
}

.btn{
  margin-bottom: 10%;
}
.foot{
  font-size: 200%;
  padding-bottom: 2.5%;
  background-color: #282c34;
}